#mainContainer {
    overflow: auto;
    height: 100%;
    background-color: #ececec;
}

#app-container {
    overflow: auto;
    height: 100%;
}



.logo {
    align-items: center;
    display: flex;
}

.logo img {
    width: 48px;
    height: 48px;
}

.logo span {
    font-size: 24px;
    padding-left: 5px;
}

.footer {
    text-align: center;
}

.carousel {
    width: 100%;
    float: left;
}

.carousel img {
    width: 100%;
    height: 260px;
}

.top-header {
    height: 50px;
    top: 50px;
    position: absolute;
    left: 50px;
}

.top-header-btns {
    height: 50px;
    top: 45px;
    position: absolute;
    right: 50px;
}

.bread-guide {
    position: relative;
    margin-top: 10px;
    display: inline-block;
}

.login-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    /*background: url(../images/login-bg.jpg) no-repeat fixed;*/
    background-color: #ecf6fd;
    background-size: cover;
    transition: all 1s;
    width: 100%;
    height: 100%;
}

.container,
.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

.form-signin {
    max-width: 300px;
    margin: 142px auto;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, .15);
    padding-bottom: 40px;
}

.form-signin .form-signin-heading {
    margin: 0;
    padding: 42px 15px 10px;
    text-align: center;
    font-size: 20px;
    color: #2db7f5;
    position: relative;
}

.form-signin .form-signin-heading img {
    width: 50px;
}

.form-signin .input-box {
    margin-bottom: 15px;
}

.login-btn {
    width: 100%;
    margin-bottom: 40px
}

.login-wrapper {
    padding: 20px 27px;
    position: relative;
}

.left-side {
    position: fixed;
    width: 200px;
    height: 100%;
    overflow-y: auto;
    border-right: 2px solid #e9e9e9;
    z-index: 100;
    padding-bottom: 25px;
    background: #fff;
}

.right-side {
    position: relative;
    height: 100%;
    margin-left: 200px;
}

.header-middle {
    padding: 15px 0;
}










/*Layout*/


/*#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #108ee9;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

#components-layout-demo-custom-trigger .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

#components-layout-demo-custom-trigger .ant-layout-sider-collapsed .nav-text {
  display: none;
}*/


/*下拉表格*/

/*.components-table-demo-nested .ant-table-expanded-row>td:last-child {
    padding: 0 48px 0 8px;
}

.components-table-demo-nested .ant-table-expanded-row>td:last-child .ant-table-thead th {
    border-bottom: 1px solid #e9e9e9;
}

.components-table-demo-nested .ant-table-expanded-row>td:last-child .ant-table-thead th:first-child {
    padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row>td:last-child .ant-table-row td:first-child {
    padding-left: 0;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-row:last-child td {
    border: none;
}

.components-table-demo-nested .ant-table-expanded-row .ant-table-thead>tr>th {
    background: none;
}

.components-table-demo-nested .table-operation a:not(:last-child) {
    margin-right: 24px;
}
*/









/*下拉表格*/


/*新增产品*/

.form-panel {
    width: 100%;
    padding: 24px 24px;
}

.bold-primary-hr {
    border-top: solid 2px #49a9ee;
}

.default-doted-hr {
    border-top: 1px dotted #f3f3f3;
}

.primary-hr {
    border-top: solid 1px #49a9ee;
}

.panel-form {
    box-shadow: none;
    border: 1px solid #F3F3F3;
    margin-bottom: 22px;
    border-radius: 4px;
}

.panel-form .panel-heading {
    color: #49a9ee;
    font-size: 14px;
    border-bottom: 1px dotted #f3f3f3;
}

.form-title {
    font-size: 16px;
}

.input-xs {
    width: 200px;
}

label {
    font-weight: 400;
    font-size: 12px;
}

.add-pic {
    width: 180px;
    height: 180px;
}

.product-map.full-screen .map-container {
    height: 100%;
}

.product-map .map-container {
    height: 600px;
}

.product-map {
    position: relative;
}

.full-screen-btn {
    display: inline-block;
    width: 26px;
    height: 26px;
    border-radius: 3px;
    border: 1px solid #C5C5C5;
    background: url(/src/images/max.jpg) center center no-repeat #fff;
    background-size: 80% 80%;
}

.map-toolbar {
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    top: 10px;
    right: 5px;
    z-index: 10;
}

.product-map.full-screen {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.AMap_marker_box {
    height: 64px;
    width: 32px;
    box-sizing: border-box;
}

.AMap_marker_box .count {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: rgba(200, 200, 10, 0.5);
    font-size: 16px;
    font-weight: bold;
    color: #2db7f5;
    text-align: center;
    line-height: 20px;
}

.AMap_marker {
    width: 32px;
    height: 32px;
    background-size: cover;
    background: url(/src/images/marker.png) no-repeat;
}

.ant-tag {
    margin-bottom: 8px;
}

.product-box {
    padding: 30px 10px;
    border: 1px solid cyan;
    border-radius: 5px;
}

.fly-img {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    position: absolute;
    z-index: 10000;
    opacity: .5;
    display: none;
}

.fly-img img {
    width: 100%;
    height: 100%;
}

.recipe {
    padding: 8px 10px;
    background-color: #cfedf0;
    color: #00a2ae;
}

.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
}

.ingre {
    height: 128px;
    width: 128px;
    display: inherit;
    border-radius: 5px;
}

.ingre.porkbox {
    background: url(/src/images/meat3.png);
}

.ingre.picklebox {
    background: url(/src/images/pickle.png);
}

.ingre.bottlebox {
    background: url(/src/images/bottle3.png);
}

.ingre.canbox {
    background: url(/src/images/jar.png);
}

.ingre:hover>.produce-btn {
    display: inline-block;
}

.ingre:hover {
    border: 2px solid #108ee9;
}

.ingre.active {
    border: 2px solid #108ee9;
}

.ingre.active>.produce-btn {
    display: inline-block;
}

.ingre>.produce-btn {
    display: none;
}

.process-guide {
    height: 120px;
    padding: 20px 0px;
}

.process-step .img {
    height: 64px;
    width: 64px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    border: 2px solid #666;
    border-radius: 5px;
}

.process-step .text {
    width: 64px;
    text-align: center;
    font-weight: bold;
}

.process-step:hover>.img {
    border: 2px solid #2db7f5;
}

.process-step:hover>.text {
    color: #2db7f5;
}

.process-step.active .img {
    border: 2px solid #2db7f5;
}

.process-step.active .text {
    color: #2db7f5;
}

.img img {
    width: 48px;
    height: 48px;
}

.process-guide li {
    float: left;
    padding: 8px 15px;
}

ul,
li {
    margin: 0;
    padding: 0;
}

.product-container li {
    float: left;
    padding: 5px 10px;
}











/* .layout {
  padding: 24px 0;
  background: #fff;
}

.sider {
  width:200px;
  background: #fff;
  background: pink;
}

.content {
  padding: 0 24px;
  min-height: 280px
} */


/*======================================workflow  工作流模块============================================================================*/

html,
body,
#canvas {
    height: 100%;
    padding: 0;
    margin: 0;
}

#canvas {
    height: 500px;
}

.diagram-note {
    background-color: rgba(66, 180, 21, 0.7);
    color: White;
    border-radius: 5px;
    font-family: Arial;
    font-size: 12px;
    padding: 5px;
    min-height: 16px;
    width: 50px;
    text-align: center;
}

.needs-discussion:not(.djs-connection) .djs-visual> :nth-child(1) {
    stroke: rgba(66, 180, 21, 0.7) !important;
    /* color elements as red */
}

#save-button {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: none;
}

.bjs-powered-by {
    display: none;
}










/*#reactInner,
.djs-visual > rect {
  width: 504px;
  height: 100%;
  background: pink;
  border-color: yellow;
}*/


/*#rectno33 {
  height: 543px;
}*/

.djs-container>svg {
    margin-right: -120px;
}

.djs-group g {
    /*display: none;*/
}












/*======================================materialInfo  物料信息模块============================================================================*/

#materialInfo .materialTit {

    font-size: 17px;
}

.materialcontainer ul.ant-menu-sub>li.firstLevel {
    padding-left: 48px;
}

.materialcontainer .firstLevel a {
    color: rgba(0, 0, 0, 0.65);
}

.materialmenu {
    padding-left: 48px;
}

.materialmenu.secondLevel {
    padding-left: 72px;
}

.ant-modal-content {
    width: 840px;
}

.basicInfo .ant-form-item-label {
    width: 100px;
}

.basicInfo .ant-form-item-control {
    width: 118px;
}

.basicInfo div.ant-form-item.ant-row {
    margin-bottom: 10px;
}

.basicInfo {
    border: 1px solid #ccc;
    padding: 15px;
    position: relative;
    margin-top: 15px;
    width: 500px;
}

.basicInfo::before {
    content: '基本信息';
    position: absolute;
    left: 10px;
    top: -10px;
}

.businessInfo {
    border: 1px solid #ccc;
    padding: 15px;
    width: 500px;
    position: relative;
    margin: 20px 0;
}

.businessInfo .ant-row {
    width: 200px;
}

.basicInfo .ant-input-lg {
    height: 25px;
}

.businessInfo::before {
    position: absolute;
    left: 10px;
    top: -10px;
    content: '业务信息';
}

.ant-form {
    position: relative;
}

.picUpload {
    POSITION: ABSOLUTE;
    RIGHT: 29PX;
    top: 42px;
    width: 250px;
    height: 229px;
}

.picUpload .ant-upload.ant-upload-select-picture-card {
    width: 250px;
    height: 244px;
}

.picUpload .ant-upload>div {
    margin-top: 50px;
}

.picUpload .anticon.anticon-plus {
    font-size: 50px;
}

.ant-upload img {
    width: 100%;
    height: 100%;
}

.materialcontent button.ant-btn {
    margin-left: 10px;
    color: #000;
}

.searchBox .ant-select {
    width: 80px;
}

.searchBox .ant-input {
    width: 200px;
}

.materialcontainer .materialcontent button {
    color: #000!important;
}

.materialcontent .btnGroups {
    /*background-color: #ccc;*/
    margin: 10px 0;
}











/*======================================bussinessType  库存业务类型模块============================================================================*/

.addBusiness .ant-modal-content {
    width: 500px;
}










/*#businessType .addBusiness label {
  width: 175px;
}*/

.addBusiness div.ant-form-item-label,
.addBusiness div.ant-form-item-control-wrapper {
    display: inline-block;
}

.addBusiness .ant-form-item-label {
    width: 175px;
    text-align: right;
}

.addBusiness .ant-form-item-label label {
    float: right;
    margin-right: 30px;
}

.addBusiness .ant-form-item-control-wrapper {
    width: 225px;
}

.businessType .searchBox .ant-select {
    width: 120px;
}

.businessTypeCon .ant-table-wrapper {
    margin-bottom: -40px;
}

body .ant-modal-mask {
    background-color: rgba(55, 55, 55, 0.1);
}

.businessType .materialName {
    border: none;
    background: transparent;
    width: 100px;
}

.businessType .materialName:hover {

    background: transparent;
}

.blue {
    color: '#108ee9';
}

.green {
    color: 'green';
}











/*======================================Dictionary  数据字典模块============================================================================*/

#Dictionary .toolBar {
    background: rgba(0, 0, 0, .1);
    height: 32px;
    line-height: 32px;
}

#Dictionary .toolBar>button {
    background: transparent;
    width: 8.33%;
    border: none;
    position: relative;
    /*border-right: 1px solid #000;*/
}

#Dictionary .toolBar>button::after {
    content: "";
    position: absolute;
    right: 0;
    top: 7px;
    width: 1px;
    height: 20px;
    background-color: #aaa;
}

.subDictionaryCon .toolBar {
    background: rgba(0, 0, 0, .1);
    height: 32px;
    line-height: 32px;
}

.subDictionaryCon .toolBar>button {
    background: transparent;
    width: 8.33%;
    border: none;
    position: relative;
    /*border-right: 1px solid #000;*/
}

.subDictionaryCon .toolBar>button::after {
    content: "";
    position: absolute;
    right: 0;
    top: 7px;
    width: 1px;
    height: 20px;
    background-color: #aaa;
}

.subDictionaryCon {
    margin-top: 10px;
}

.valuesCon input {
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    width: 22%;
    height: 28px;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
    margin: 0px 17px;
}


div.materialTree.ant-modal {
    width: 70%!important;
    left: 5%;
    top: 30px;
}

.materialTree .ant-modal-content {
    width: 90%;
}

.selBtn span {
    color: #fff;
}










/*======================================fundAcount  资金账户模块============================================================================*/

#FundAccount .title {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 12px;
}

#FundAccount .header .add {
    width: 60px;
    height: 30px;
    color: #fff;
    background-color: #49a9ee;
    border-color: #49a9ee;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-left: 20px;
}

#FundAccount .payment {
    margin-top: 30px;
}

#FundAccount .header {
    margin-bottom: 10px;
}

.valuesCon #pid {
    width: 177px;
    height: 28px;
    margin-left: 12px;
    border: 1px solid #d9d9d9;
}

.valuesCon #pidTree {
    /*height: 100px;*/
    display: inline-block;
}

#pidSel,
#pidSel label {
    vertical-align: top;
}

#pidTree>ul ul {
    display: none;
}

.valuesCon select {
    width: 177px;
    height: 28px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin-right: 20px;
    padding-left: 5px;
}


.addDictionary .ant-modal-content {
    width: 500px;
}

.addDictionary .valuesCon label {
    margin: 0 30px 0 60px;
}

.addDictionary .valuesCon>div {
    margin-bottom: 30px;
}

.addDictionary .valuesCon>div>input {
    width: 178px;
}

.modifyModal .valuesCon select {
    margin-left: 15px;
}


.paymentModal .ant-modal-content {
    width: 500px;
}

.paymentModal .editPay label {
    margin: 0 30px 0 60px;
    height: 28px;
}

.paymentModal .editPay>div {
    margin-bottom: 30px;
}

.paymentModal .editPay>div>input {
    height: 28px;
    width: 178px;
}

.paymentModal .editPay select {
    margin-left: 12px;
    height: 28px;
    width: 178px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.paymentModal .editPay input {
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    width: 22%;
    height: 28px;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
    margin: 0px 17px;
}

.paymentAdd .ant-modal-content {
    width: 500px;
}

.paymentAdd .editPay label {
    margin: 0 30px 0 60px;
    height: 28px;
}

.paymentAdd .editPay>div {
    margin-bottom: 30px;
}

.paymentAdd .editPay>div>input {
    height: 28px;
    width: 178px;
}

.paymentAdd .editPay select {
    margin-left: 12px;
    height: 28px;
    width: 178px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}

.paymentAdd .editPay input {
    position: relative;
    display: inline-block;
    padding: 4px 7px;
    width: 22%;
    height: 28px;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    background-image: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    transition: all .3s;
    margin: 0px 17px;
}













/*======================================Dictionary  数据字典模块============================================================================*/

.addDictionary .ant-modal-content {
    width: 500px;
}

.addDictionary .valuesCon label {
    margin: 0 30px 0 60px;
}

.addDictionary .valuesCon>div {
    margin-bottom: 30px;
}

.addDictionary .valuesCon>div>input {
    width: 178px;
}

.modifyModal .valuesCon select {
    margin-left: 15px;
}










/*=======================================会员管理模块======================*/
.menberBox{

  width: 84%;
  height: 100%;
}

.searchCss {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    margin-left: 5px;
    margin-bottom: 20px;
}

.searchCss span {
    /* background-color: red;*/
    width: 50px;
    padding-top: 5px;
}

.searchCss input {
    margin-right: 15px;
    width: 300px;
}

.tableCss {
    width: 100%;
    height: 500px;
    background-color: #fff;
}

.tableCss table thead tr th {
        text-align: center;

}
.tableCss table tbody tr td {
        text-align: center;

}
.PageCss{
    box-sizing: border-box;
    margin-top: 20px;
    text-align: right;
    padding: 0 20px;
}

/********************模态框***************/

.modal {
    margin:0;
    padding: 0;
  /*text-align: center;*/
  /*white-space: nowrap;*/
  background-color: green;
}

.modal:before {
  /*content: '';*/
  /*display: inline-block;*/
  /*height: 100%;*/
  /*vertical-align: middle;*/
  /*width: 0;*/

}

.modal .ant-modal {
    width: 100%;
    height: 50%;
    /*margin:;*/
      background-color: yellow;
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  /*top: 0;*/
  /*text-align: left;*/

}
