<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="<%= root %>src/css/pc.css">
  <link rel="stylesheet" type="text/css" href="<%= root %>src/css/mobile.css">
  <link rel="stylesheet" type="text/css" href="<%= root %>src/css/common.css">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no">
</head>
<body>
<div id="mainContainer"></div>
  <script src="/src/js/lib/jquery-3.2.1.min.js"></script>
  <script src="/src/js/lib/jquery-ui.js"></script>
  <script src="/src/js/lib/parabola.js"></script>
  <script type="text/javascript" src="<%= commons %>"></script>
  <script type="text/javascript" src="<%= index %>"></script>
</body>
</html>